html {
  scroll-behavior: smooth;
  background: rgb(222, 225, 221);
  background: linear-gradient(
    90deg,
    #dee1dd 0%,
    #99adac 35%,
    rgba(109, 145, 151, 1) 100%
  );
}

a {
  text-decoration: none;
  color: #28363d;
}

a:hover,
a:focus {
  color: #2f575d;
  text-decoration: underline;
}
