@import url(hero.css);
@import url(navbar.css);
@import url(aboutme.css);
@import url(projects.css);
@import url(contact.css);

html {
  scroll-behavior: smooth;
  background: rgb(222, 225, 221);
  background: linear-gradient(
    90deg,
    rgba(222, 225, 221, 1) 0%,
    rgba(153, 174, 173, 1) 35%,
    rgba(109, 145, 151, 1) 100%
  );
  overflow-x: hidden;
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
}
